/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease; /* Add transition for smooth background color change */
}

.container {
    text-align: center;
}

img {
    width: 200px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
